/*commons*/

:root{
    --arancione: rgb(255, 145, 0);
    --nero:black;
    --bianco:white;
    --altezzaimg: 500px;
    --altezzadiv: 555px;
    --widthdiv: 350px;
    --twitter: #36A1F2;
    --facebock: #4867AB;
    --instagram:  rgba(131,58,180,1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
    padding-top: 5px;
}
header{
    background-color: var(--arancione);
}
nav{
    position: static;
    height: 50px;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin-right: 10px;
}
a{
    color: var(--bianco);
    text-decoration: none;
}
nav div a:nth-of-type(2){
    padding: 0 20px;
}
nav.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
/*header*/


/* footer */

.foot-container{
    background-color: var(--black);
    width: 100%;
    height: 150px;
    vertical-align: middle;
    padding: 40px 100px;
    margin: 0 auto;

}

.flexfoot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

h5{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

footer nav  ul li a {
    color: white;
    padding-inline-end: 10px;
    text-decoration: none;
    font-size: 14px;
}

.fa-brands{
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
}


.fa-square-twitter:hover{
    color: var(--twitter);
}

.fa-square-facebook:hover{
    color: var(--facebock);
}

.fa-square-instagram:hover{
    color: var(--instagram);
}

.fa-square-pinterest:hover{
    color: var(--red);
}

.fa-square-youtube:hover{
    color: var(--red);
}



.container{
    width: 80%;
    /* background-color: blue; */
    text-align: center;
    margin: auto;
  }
  
  .card-container{
    width: 33%;
    display: inline-block;
    
  }
  
  .card{
    position: relative;
    margin-top: 30px;
    padding: 5px;
  }
  
  .card img{
    width: 100%;
  }
  
  .card .item-img{
    display:block;
  }
  
  .card .item-img-b{
    display: none;
  }
  
  .card:hover .item-img{
    display:none
  }
  
  .card:hover .item-img-b{
    display: block;
  }
  
  .heart{
    position: absolute;
    right: 5px;
    top: 5%;
    background-color: white;
    padding: 10px 15px;
    font-size: 30px;
  }
  
  label{
    cursor: pointer;
  }
  
  input {
    display: none;
  }
  
  input:checked ~ label {
    color: red;
  }
  
  /* .heart:hover{
    color:red
  } */
  
  .labels{
    position: absolute;
    left: 5px;
    bottom: 20px;
    color: white;
  }
  
  .discount{
    display: inline-block;
    background-color: red;
    padding: 5px;
    margin-right: 5px;
  }
  
  
  .type{
    display: inline-block;
    background-color: green;
    margin-right: 5px;
    padding: 5px;
  } 
  
  .description{
    text-align: left;
  }
  
  .info>*{
    margin: 5px 0;
   }
   
   .info h5{
     color: rgb(115, 130, 143);
     font-weight: lighter;
   }
   
   .price{
     color: red;
   }
   
   .old-price{
     text-decoration: line-through;
     padding-left: 3px;
   }
  